{# SPDX-License-Identifier: MIT-0 #}
{%- set _config = slm_ansible_role_litellm_config_yaml if slm_ansible_role_litellm_config_yaml is mapping else (slm_ansible_role_litellm_config_yaml | default('{}') | from_yaml | default({})) -%}
{{ _config | to_nice_yaml(indent=2) }}
